<?xml version="1.0" encoding="UTF-8"?>
<suite name="LmsTestSuite" >
    <test name="TestNGtests" >
        <classes>
            <class name="TestNGtests.Activity1"/>
 			<class name="TestNGtests.Activity2"/>
			<class name="TestNGtests.Activity3"/>
			<class name="TestNGtests.Activity4"/>
			<class name="TestNGtests.Activity5"/>
			<class name="TestNGtests.Activity6"/>
			<class name="TestNGtests.Activity7"/>
			<class name="TestNGtests.Activity8"/>
			<class name="TestNGtests.Activity9"/>
			
         </classes>
    </test>
</suite>